
# --- Proxmox ---
PROXMOX_HOST="X.X.X.X"          # Ip proxmox
PROXMOX_USER="root@pam"          # user for auth curl
PROXMOX_PASSWORD=""              # root password for proxmox
PROXMOX_NODE="pve"               # name of the node
PROXMOX_STORAGE_VM="local"       
PROXMOX_STORAGE_ISO="local"      

# --- Token API Proxmox (pour Packer et Terraform) ---
PROXMOX_TOKEN_ID="root@pam!packer"   # user@realm!tokenid
PROXMOX_TOKEN=""                     

# --- VM IDs ---
VM_ID_UBUNTU_TEMPLATE=100
VM_ID_PFSENSE_TEMPLATE=200
VM_ID_PFSENSE=210
VM_ID_SERVICES=110
VM_ID_VAULT=120

# --- Réseau LAN (derrière pfSense) ---
VM_IP_SERVICES="172.16.0.10/24"
VM_IP_VAULT="172.16.0.11/24"
VM_GATEWAY="172.16.0.254"

# --- SSH ---
SSH_PUBLIC_KEY="ssh-ed25519 AAAA..."  

# --- Utilisateur ubuntu des VMs ---
VM_PASSWORD="changeme"               # password
VM_PASSWORD_HASH=''                  # Hash SHA-512 — générer avec (Linux/Proxmox) :
                                     # openssl passwd -6 <password>
                                     # Sur macOS : ssh root@<proxmox> "openssl passwd -6 <password>"

# --- Ubuntu ISO ---
UBUNTU_ISO_CHECKSUM=""               # SHA256 -> releases.ubuntu.com/22.04/SHA256SUMS

