filebeat.inputs:
  - type: filestream
    id: syslog
    enabled: true
    paths:
      - /var/log/syslog
      - /var/log/auth.log
      - /var/log/ufw.log

  - type: filestream
    id: docker-containers
    enabled: true
    paths:
      - /var/lib/docker/containers/*/*.log
    parsers:
      - ndjson:
          message_key: log
          keys_under_root: true
          overwrite_keys: true

{% if inventory_hostname in groups['ops'] %}
  - type: syslog
    enabled: true
    format: rfc5424
    protocol.udp:
      host: "0.0.0.0:5140"
    fields: { source_type: pfsense }
    fields_under_root: true
{% endif %}

output.elasticsearch:
  hosts: ["https://{{ filebeat_elasticsearch_host }}:{{ filebeat_elasticsearch_port }}"]
  username: elastic
  password: "{{ filebeat_elastic_password }}"
  ssl.certificate_authorities: ["{{ filebeat_tls_ca_path }}"]
