filebeat.inputs:
  - type: filestream
    id: syslog
    enabled: true
    paths:
      - /var/log/syslog
      - /var/log/auth.log

  - type: filestream
    id: docker-containers
    enabled: true
    paths:
      - /var/lib/docker/containers/*/*.log
    parsers:
      - ndjson:
          message_key: log
          keys_under_root: true
          overwrite_keys: true

output.elasticsearch:
  hosts: ["https://{{ elk_elasticsearch_host }}:{{ elk_elasticsearch_port }}"]
  username: elastic
  password: "{{ elk_elastic_password }}"
  ssl.certificate_authorities: ["{{ filebeat_tls_ca_path }}"]
