ui = {{ vault_ui | lower }}

storage "file" {
  path = "{{ vault_data_dir }}"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = {{ vault_tls_disable | lower }}
}

api_addr = "{{ vault_api_addr }}"
