[defaults]
inventory           = inventory/onprem.py
roles_path          = roles
retry_files_enabled = False
host_key_checking   = False
timeout             = 60

[ssh_connection]
pipelining          = True
