[defaults]
inventory        = inventory/onprem.yml
roles_path       = roles
retry_files_enabled = False
host_key_checking = False

[ssh_connection]
pipelining = True
ssh_args = -o ProxyJump=root@51.75.128.134 -o IdentityFile=~/.ssh/id_ed25519
