proxmox_endpoint  = "https://192.168.100.2:8006"
proxmox_node      = "pve"
vm_ip_cidr        = "192.168.100.50/24"
vm_gateway        = "192.168.100.1"
vm_ssh_public_key = "ssh-ed25519 AAAA..."

# proxmox_api_token must be set via environment variable:
# export TF_VAR_proxmox_api_token="root@pam!terraform=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
